// Variables

$primary: #2b2b2b;
$links: #0d5fb4;

$main-blue: #06c;
$main-orange: #FF9933;

// Folder tab colors

$manila: $main-blue;
$blue: #006379;
$pink: #a800a7;
$green: #038a00;
$purple: #6500be;
