{{yield}}
<div class="container full-page-container">
  <div class="text-editor-wrapper">
      <h1>Add to this story!</h1>
      {{text-editor value=myBoundValue}}
      <button type="submit" class="btn btn-success">Submit</button>
  </div>
</div>
