<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#intro" class="navbar-brand">
        <div class="logo">
          <img src="/assets/images/cw-logo-nav.png" alt="CollaboWrite" />
        </div>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#features">About</a></li>
        <li><a href="#howitworks">How it Works</a></li>
        <li><a href="#guidelines">Guidelines</a></li>
        <li>{{#link-to "stories"}}Browse{{/link-to}}</li>
        <li>{{#link-to "stories.new"}}New Story{{/link-to}}</li>
        <li>{{#link-to "dashboard"}}Dashboard{{/link-to}}</li>
        <li>{{#link-to "login"}}Login/logout{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
